<div>
  <h1>Get Auth Token</h1>

  <div class="row">
    <a class="btn btn-success text-white" href="/">Back To Home</a>&nbsp;&nbsp;
  </div>
</div>

<div class="p-4" style="border-radius:20px;">
  <div style="background-color:#cde8e2" class="p-3 rounded">
    <div data-ng-controller="productControllerRead">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <strong>{{erro}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <div class="table table-bordered table-striped table-hover" style="width:100%;color:black;">
                  <div>
                    <h3> Get Token</h3>
                  </div>
                  <div>

                    <button id="token"></button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p id="token"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
