<!-- Create and Update-->
<div>
  <div class="row">
    <a class="btn btn-success text-white" [routerLink]="['/project']" [routerLinkActive]="['link-active']"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back To Projects List </a>
  </div>
</div>
<section id="secForm" style="border-radius:20px; padding-top: 20px">
  <div class="card add-product">
    <h5 class="card-header">{{ formLabel }}</h5>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <input type="hidden" formControlName="created" />

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" required class="form-control" placeholder="Type the name of Product">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" required class="form-control" placeholder="Type the description">
        </div>

        <button type="submit" class="btn btn-primary btn-add-product" [disabled]="!form.valid">Save</button>&nbsp;&nbsp;
        <button type="reset" class="btn btn-secondary btn-add-product" (click)="cancel()">Clean Fields</button>
      </form>
    </div>
  </div>
</section>
